.grant-iqs {
    font-size: 18pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    margin-left: 30px;
    padding-top: 40px;
    line-height: 1.5;
}

.grant-iqs-author {
    margin-left: 50px;
}